 @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200&display=swap');

 /* Sahred Style */
 * {
     font-family: 'Poppins', sans-serif;
 }

 .primary-btn {
     font-size: 16px;
     padding: 10px 24px;
     background-color: #E02C6D;
     border: 0;
     border-radius: 30px;
     color: white;
 }

 .primary-font-color {
     color: #3A3A3A;
 }


 /* Start Header Part */


 .menu {
     display: flex;
     justify-content: space-around;
     align-items: center;

 }

 .menu ul {
     display: flex;
 }

 .menu li {
     list-style: none;
 }

 .menu a {
     text-decoration: none;
     font-size: 20px;
     font-weight: 600;
     margin-right: 20px;
     color: #3A3A3A;
 }

 .menu img {
     width: 40px;
     height: 40px;
 }


 .header-content {
     display: flex;
     justify-content: space-around;
     align-items: center;
     padding: 20px 150px;
 }

 .header-text h1 {
     width: 550px;
     font-size: 52px;
     margin-bottom: 16px;
 }

 .header-text p {
     width: 550px;
     font-size: 16px;
     margin-top: 0px;
 }

 .header-banner img {
     background-image: url('./images/Circle\ design.svg');
     padding: 20px;
 }

 /* Main Part Start */

 /* sponsor section */
 .sponsor {
     text-align: center;
 }

 .sponsor img {
     margin-top: 30px;
     margin-bottom: 50px;
     padding: 30px;
 }

 /* popular section */

 .popular-product {
     text-align: center;
     margin: auto 100px;
 }

 .popular-product-gallery {
     display: grid;
     gap: 15px;
     grid-template-columns: repeat(3, 1fr);
     margin: 50px auto;
 }

 .product-card {
     width: 329px;
     margin: 0 auto;
     padding: 10px;
     text-align: left;
     box-shadow: 3px 2px 3px 2px gray;
     border-radius: 10px;
 }

 .product-card img {
     padding: 10px;
 }

 .see-more-btn {
     position: relative;
     left: 900px;
     font-size: 26px;
     color: #E02C6D;
     border: 0;
     background: none;
 }

 /* Product-Features */

 .Product-Features {
     display: flex;
     justify-content: space-around;
     margin-top: 100px;
 }

 .Product-Features-Text {
     width: 600px;
 }

 /* Footer Part Start */
 footer {
     margin-top: 100px;
 }

 .foot {
     height: 239px;
     background-color: #0A0826;
     text-align: center;
     color: #FFF;
 }

 .foot-content {
     padding: 30px;
 }

 .foot-content h1 {
     font-size: 24px;
     margin: 0;
 }

 .foot-content p {
     font-size: 14px;
     margin: 0;
 }

 .foot-icon img {
     margin-right: 20px;

 }

 /* For Responsive  small devices*/

 @media screen and (max-width: 600px) {
     .menu {
         flex-direction: column;
     }
     .menu a{
        font-size: 12px;
        
     }

     .header-content {
         flex-direction: column-reverse;
         padding: 1px;
         text-align: center;
     }

     .header-banner img {
         width: 100%;
         margin-bottom: 50px;
     }

     .header-text h1 {
        text-align: center;
         width: 304px;
         font-size: 24px;
     }

     .header-text p {
         width: 400px;
         font-size: 16px;
         margin-top: 0px;
     }
     .sponsor{
        width: 550px;
     }
     .sponsor img{
        width: 40px;
     }

     .popular-product-gallery {
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(1, 1fr);
    }
    .Product-Features {
        flex-direction: column-reverse;
        margin: auto 30px;
        margin-top: 100px;
    }
    .Product-Features-Text {
        text-align: center;
        width: 400px;
        margin-bottom: 50px;
    }
    .see-more-btn {
        position: relative;
        left: 0;
        font-size: 26px;
        color: #E02C6D;
        border: 0;
        background: none;
    }


 }